fastembed==0.7.3
flashrank==0.2.10
langchain-community==0.3.29
langchain-experimental==0.3.4
langchain-groq==0.3.8
langchain-qdrant==0.2.1
langchain==0.3.27
python-dotenv==1.1.1
qdrant-client==1.15.1
streamlit==1.49.1
pypdfium2==4.30.0